<% @comments.order("created_at desc").each do |comment| %>


  <div class="discussion">
    <div class="avatarUtilisateur">
      <% sender = comment.user %>
      <img src="<%= sender.avatar %>" class="imageProfil">
      <div class="libUtilisateur">
        <span class="nomUtilisateur">
          <%= link_to sender, sender %> 
        </span>
        <span class="classeUtilisateur">
          <%= sender.class_room.label  + " - " + sender.class_room.school.label %>
        </span>
        <span class="dateMessage">
          <%= post.created_at %>
        </span>
        <div class="reponse">
          <%= image_tag "flecheDiscussion.png", :id => "flecheDiscussion" %>
          <h1><%= comment.post.content %></h1>
          <p><%= comment.content %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>