<% if current_user %>
<div class="discussion">
<% else %>
<div class="formAccueil">
<% end %>
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <%= f.text_field :name, :class => 'inputAccueil', :placeholder => 'Nom'%>
      <%= f.text_field :firstname, :class => 'inputAccueil', :placeholder => 'Prénom' %>
      <%= f.email_field :mail, :class => 'inputAccueil', :placeholder => 'e-mail' %>

      <% unless current_user %>
        <%= f.password_field :password, :class => 'inputAccueil', :placeholder => '••••••' %>

        <%= f.password_field :password_confirmation, :class => 'inputAccueil', :placeholder => '••••••' %>
      <% end %>

      <div class="selectAccueil">
        <%= f.collection_select( :class_room_id, ClassRoom.all, :id, :to_s ) %>
        <%= f.autocomplete_field :class_room_id, autocomplete_class_room_label_users_path %>
      </div>

      <% if current_user %>
        <%= link_to "Changer avatar", :edit_avatar, :id => 'envoyer', :class => 'inline' %>
      <% end %>

      <div class="actions">
        <%= f.submit 'Envoyer', :id => 'envoyer2', :class => 'inline' %>
      </div>
  <% end %>
</div>