<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="discussion">

    <h1>Créer un nouveau Professeur </h1>

    <%= f.text_field :name, :class => 'input', :placeholder => 'Nom' %>
    <%= f.text_field :firstname, :class => 'input', :placeholder => 'Prénom' %>
    <%= f.text_field :mail, :class => 'input', :placeholder => 'e-mail' %>
    <%= f.password_field :password, :class => 'input', :placeholder => '••••••' %>
    <%= f.password_field :password_confirmation, :class => 'input', :placeholder => '••••••' %>

    <%=f.hidden_field :user_type_id, :value=> 2 %>
    <%=f.hidden_field :is_validated, :value=> true %>

    <div>
      <%= f.submit "Créer", :id => "envoyer2" %>
    </div>
  </div>
<% end %>
