<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.text_field :subject, :placeholder => "Nouveau Sujet", :class => "input" %>

    <%= f.text_field :content, :placeholder => "Corps du message", :class => "input", :id =>  "input2" %>

    <div class="basArticle">
      <a id="inclureVideo" href="">Inclure une vidéo ?</a>  <a id="joindreVideo" href=""><span id="plus">+</span> Joindre le fichier</a>

      <%= f.submit "Envoyer le message", :id => "envoyer" %>
    </div>

    <%= f.hidden_field :class_room_id, :value=> current_user.class_room.id %>


<% end %>