<h1>Listing posts</h1>

<table>
  <tr>
    <th>Subject</th>
    <th>Content</th>
    <th>Classroom</th>
    <th>From</th>
    <th>To</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.subject %></td>
    <td><%= post.content %></td>
    <td><%= post.class_room %></td>
    <td><%= post.receiver %></td>
    <td><%= post.sender %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
